.header__language-selector {
  margin-right: 18px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}

.header__language-selector:last-child {
  margin-right: 0;
}

@media (max-width: 320px) {
  .header {
    font-size: 18px;
    line-height: 20px;
  }
}