.cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(640px, 740px);
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 96px);
}

@media (max-width: 1024px) {
  .cover {
    width: 100%;
    grid-template-rows: minmax(480px, 640px);
  }
}

@media (max-width: 768px) {
  .cover {
    grid-template-rows: minmax(200px, 480px);
  }
}

@media (max-width: 320px) {
  .cover {
    grid-template-rows: minmax(100px, 200px);
  }
}