.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
}

.place__link:hover {
  transition: opacity .3s ease-in;
  opacity: .8;
}